<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>测试</title>
    <script src="../../bower_components/angular/angular.js"></script>
  <!--  <script src="../../js/directive/directive.min.js"></script>-->
    <script src="test.js"></script>
    <link type="text/css" rel="stylesheet" href="../../asset/css/tlms.css"/>
    <link rel="stylesheet" href="../../bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link type="text/css" rel="stylesheet" href="../../asset/css/font-awesome.min.css"  />
    <link type="text/css" rel="stylesheet" href="../../asset/css/bootstrap.css"/>
    <script type="text/javascript" src="../../bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
</head>
<body >

<div ng-controller="TreeController">
    <div items="root.items">
        <ul style="border:1px solid red;padding:0px">
            <li >
                <div ng-click="toggleHide()" >
                    {{root.title}}
                </div>
                <ul ng-model="root.items" ng-if="root.expand == 'true'" style="border:1px solid red;padding:0px">
                    <li ng-repeat="item in root.items" style="border:1px solid red">
                        <div style="border:1px solid red">
                            <i class="fa">&nbsp;</i><i class="fa {{item.selectedIcon}}">&nbsp;</i>{{item.title}}
                        </div>
                        <ul ng-model="item.items" ng-show="false">
                            <li ng-repeat="subItem in item.items">
                                <div>
                                    <a ng-click="clickItem(subItem)"><i class="fa {{subItem.selectedIcon}}">&nbsp;</i>{{subItem.title}}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>

    <div class="simple-tree" ng-controller="TreeController">
        <div simple-tree root="root"></div>
    </div>
</body>
</html>