<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>测试</title>
    <script src="../../bower_components/angular/angular.js"></script>
  <!--  <script src="../../js/directive/directive.min.js"></script>-->
    <script src="test.js"></script>
    <link type="text/css" rel="stylesheet" href="../../asset/css/tlms.css"/>
    <link rel="stylesheet" href="../../bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link type="text/css" rel="stylesheet" href="../../asset/css/font-awesome.min.css"  />
    <link type="text/css" rel="stylesheet" href="../../asset/css/bootstrap.css"/>
    <script type="text/javascript" src="../../bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
</head>
<body >

<!--<div ng-controller="TreeController">
    <div items="root.items">
        <ul ng-model="root.items">
            <li ng-repeat="item in root.items">
                <div>
                    <i class="fa">&nbsp;</i><i class="fa {{item.icon}}">&nbsp;</i>{{item.title}}
                </div>
                <ul ng-model="item.items" ng-show="false">
                    <li ng-repeat="subItem in item.items">
                        <div>
                            <a ng-click="clickItem(subItem)"><i class="fa {{subItem.icon}}">&nbsp;</i>{{subItem.title}}</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>-->

<!--

<style>
    .my-form {
        transition:all linear 0.5s;
        background: transparent;
    }
    .my-form.ng-invalid {
        background: red;
    }
</style>
<form name="myForm" ng-controller="FormController" class="my-form">
    userType: <input name="input" ng-model="userType" required>
    <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    <code>userType = {{userType}}</code><br>
    <code>myForm.input.$valid = {{myForm.input.$valid}}</code><br>
    <code>myForm.input.$error = {{myForm.input.$error}}</code><br>
    <code>myForm.$valid = {{myForm.$valid}}</code><br>
    <code>myForm.$error.required = {{!!myForm.$error.required}}</code><br>
</form>
-->


<!--使用angular校验，每一个校验的项都必须用ng-model，不然无法执行在脏检查，就无法校验-->
<form name="angularForm" novalidate method="post" ng-controller="FormController">
    <table class="table table-bordered">
        <tr>
            <td>用户名</td>
            <td>
                <input type="number" required="required" ng-model="user.userName" name="userName" ng-minlength="6"/>
                <!--angularForm.userName.$dirty检查是否是第一次输入！网上有很多种方法校验是否是第一次输入-->
                <span class="warning" ng-show="angularForm.userName.$dirty && angularForm.userName.$error.required">*</span>
                <span class="warning" ng-show="angularForm.userName.$error.number">只能输入数字</span>
                <span class="warning" ng-show="angularForm.userName.$error.minlength">最少为6位数</span>
                <button ng-disabled="angularForm.userName.$valid == true ? user.valid = true:user.valid=false">test</button>
                <code>myForm.input.$valid =  {{angularForm.userName.$valid == true ? user.valid = true:user.valid=false}}</code><br>
                <code>myForm.$valid =  {{angularForm.$valid }}</code><br>
            </td>
        </tr>
    </table>
</form>




<h1>下拉菜单测试</h1>
<div class="col-sm-4" ng-controller="TreeController">
    <select  class="form-control"  ng-model="gpsLvl"  ng-options="lvl.lvlName for lvl in gpsLvlListNew track by lvl.id" ng-change="changeGpsLvl()">
        <option value="">请选择GPS档位</option>
    </select>
</div>





    <div class="simple-tree" ng-controller="TreeController">
        <div simple-tree root="root"></div>
    </div>

</body>
</html>