p {
    text-align: center;
    color: black;
    font-family: arial;
}
.border-style{
    border:1px solid red;
    width:400px;
    height:200px;
}
.tlms-border{
    border:1px solid red;
}
.simple-tree{

}
.simple-tree ul{
    list-style-type:none;
    margin:0px;
    padding-left:0px;
    font-size:16px;
}
.simple-tree ul li{
    list-style: none;
    margin-left:0px;
}
.simple-tree ul li a{
    background:#ccc;
    display:block;
    width:200px;
    margin:5px 0px 5px 20px;
    color:black;
}
.simple-tree ul li a:hover{
    background:#999;
    cursor: pointer;
    color:black;
}


